.main {
    background-color: #0079BF;
    height: 690px;
    padding: 20px 30px;
}

@media screen and (max-width:375px) {
    .main {
        padding: 90px 30px 20px;
        height: 100%;
    }
}