.taskListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:375px) {
    .taskListContainer {
        flex-direction: column;
        width: 100%;
    }
}